.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 0;

    @media screen and (min-width: 450px) {
        padding: 85px 3%;
    }


    @media screen and (min-width: 768px) {
        padding: 103px 4%;
    }

    @media screen and (min-width: 1600px) {
        width: 1390px;
    }
}

.team_title {
    position: relative;
    display: inline;


    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        top: 24px;
        left: 85px;
        background-image: url(../../public/V.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (min-width: 768px) {
            width: 17px;
            height: 18px;
            top: 38px;
            left: 133px;
        }

        @media screen and (min-width: 1390px) {
            top: 36px;
            left: 132px;
        }
    }

    @media screen and (max-width: 450px) {
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.15em;
    }


    @media screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.15em;
    }

    @media screen and (min-width: 1600px) {
        font-size: 48px;
        line-height: 56px;
    }

}

.team_text {
    margin-left: -132px;
    margin-top: 2px;
    color: #7B80CF;

    @media screen and (min-width: 768px) {
        margin-left: -220px;
        margin-top: 16px;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 0.12em;
    }

    @media screen and (min-width: 1600px) {
        font-size: 48px;
        line-height: 50px;
    }

}