.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;

    overflow-y: auto;
    overflow-x: hidden;

    transition: transform 250ms;
    transition: opacity 250ms, visibility 250ms;
    background-color: hsl(266, 57%, 95%, 0.7);
    z-index: 2;

    transition: all 0.5s;
    animation-name: backdrop-transiton;
    animation: backdrop-transiton cubic-bezier(0.4, 0, 0.2, 1) 500ms;

}

.modal {
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms, scale 250ms;
    background-color: transparent;
    padding: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        width: 90vw;
        height: 650px;
    }

    @media screen and (min-width: 1600px) {
        width: 900px;
        height: 90%;
    }
}

.img_modal {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
        width: 100%;
        height: 125%;
    }

    @media screen and (min-width: 768px) {
        width: 500px;
        height: 650px;
    }

    @media screen and (min-width: 1600px) {
        width: 900px;
        height: 1200px;
    }
}

@keyframes backdrop-transiton {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0)
    }
}

;