.lastik {
    position: absolute;
    display: block;
    top: -16px;
    left: 18px;
    height: 34px;
    width: 23px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(0.96, -0.24, 0.28, 0.97, 0, 0);

    @media screen and (min-width: 768px) {
        top: -26px;
        left: -6px;
        width: 23px;
        height: 32px;

    }

    @media screen and (min-width: 1268px) {}
}

.lastik_wrapper {

    position: relative;
    display: block;
    width: 205px;
    height: 86px;
    padding: 12px 0 12px 5px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    margin-right: 4%;
    margin-top: 10%;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        width: 214px;
        height: 112px;
        border-radius: 15px;

    }

    @media screen and (min-width: 1268px) {}
}

.image_wrapper {
    display: block;
    width: 100%;
    height: 41%;
    background-image: url(../../public/girls_mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 1268px) {}
}

.conteiner_img_right {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    width: 120px;
    height: 121px;
    top: 36px;
    right: 12px;
    background-image: url(../../img/girls_tab.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteiner_img_center {
    position: absolute;

    @media screen and (max-width:767px) {
        display: none;
    }

    width: 94px;
    height: 92px;
    top: 0px;
    right: 205px;
    background-image: url(../../img/girs_tab2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteiner_img_left {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    width: 212px;
    height: 203px;
    top: -170px;
    right: 387px;
    background-image: url(../../img/tab_girs3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}