.conteiner {
    position: relative;
}

.h {
    position: absolute;
    top: 0;
    left: 145px;
    rotate: 63deg;
}

.w {
    position: absolute;
    top: 6px;
    left: 153px;
    rotate: 63deg;
}