.conteiner {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 320px) {
    padding: 27% 13%;
    background-image: url(../public/back_Mob.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../public/back_tab.jpg);
  }

  @media screen and (min-width: 1268px) {
    background-image: url(../public/back_deskt.jpg);
  }
}


.wrapper_comp {
  max-width: 100%;
  height: 100%;
  background-color: #F0E9F9;
  padding: 40% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  image {
    display: block;
    width: 100%;
    height: 100%;
  }
}